<div class="outer-container">
  <mat-card>
    <h2>Reset Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          Enter a valid email.
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
        class="center-button"
      >
        Send password reset link
      </button>
    </form>
    <div *ngIf="message" class="info-message">{{ message }}</div>
  </mat-card>
</div>
