<!--<div class="container">-->

<!--  &lt;!&ndash; Sekcja wyszukiwania pogody &ndash;&gt;-->
<!--  <mat-card class="search-card">-->
<!--    <h2>Check Weather in Your City</h2>-->
<!--    <mat-form-field appearance="outline" class="search-bar">-->
<!--      <mat-label>Enter city</mat-label>-->
<!--      <input matInput [(ngModel)]="city" />-->
<!--    </mat-form-field>-->
<!--    <div class="button-group">-->
<!--      <button mat-raised-button color="primary" (click)="searchWeather()">Search</button>-->
<!--    </div>-->
<!--  </mat-card>-->

<!--  &lt;!&ndash; Wyświetlanie wyników pogody &ndash;&gt;-->
<!--  <div *ngIf="weatherData" class="weather-result">-->
<!--    <mat-card>-->
<!--      <div class="weather-header">-->
<!--        <h2>{{ weatherData.name }}</h2>-->
<!--        <i [class]="'weather-icon wi wi-' + getWeatherIcon(weatherData.weather[0].icon)"></i>-->
<!--      </div>-->
<!--      <p class="temperature">🌡️ Temperature: {{ weatherData.main.temp }} °C</p>-->
<!--      <p class="condition">🌥️ Condition: {{ weatherData.weather[0].description }}</p>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
