<div class="page-wrapper">
  <!-- Nagłówek dla niezalogowanych -->
  <header class="main-header" *ngIf="!isLoggedIn">
    <h1 routerLink="/" style="cursor: pointer;">QuickWeather</h1>
    <nav>
      <a routerLink="/login">Login</a> |
      <a routerLink="/register">Register</a>
    </nav>
  </header>

  <!-- Nagłówek dla zalogowanych -->
  <header class="dashboard-header" *ngIf="isLoggedIn">
    <h1 routerLink="/dashboard" style="cursor: pointer;">QuickWeather</h1>
    <nav class="dashboard-nav">
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </nav>
  </header>

  <!-- Nagłówek dla zalogowanych administratorów -->
  <header class="admin-header" *ngIf="isLoggedIn && isAdminRoute()">
    <nav class="dashboard-nav">


    </nav>
  </header>


  <!-- Główna zawartość -->
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>

  <!-- Stopka -->
  <footer class="dashboard-footer">
    <p>&copy; 2025 QuickWeather - All rights reserved.</p>
    <nav>
      <a routerLink="/about">About</a> |
      <a routerLink="/contact">Contact</a> |
      <a routerLink="/privacy">Privacy Policy</a>
    </nav>
  </footer>
</div>

